* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {

}
input,
textarea {

}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0px 5px;
}
.header.fixed-on {
  position: fixed;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
}
.header.active {
  position: fixed;
  top: 0px;
}
.header__burger {
display: none;
}
.header__list {
display: flex;
position: relative;
z-index: 2;
padding: 0px 0px 0px 30px;
}
.header__list li {
list-style: none;
margin: 0px 0px 0px 42px;
}
.header__link {
color: #000000;
text-transform: uppercase;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-decoration: none;
letter-spacing: -0.015em;
}
.header__link:hover {
  transition: all 0.3s ease 0s;
  color: rgba(36, 36, 36, 0.919);
}
@media (max-width: 767px) {
body.lock {
   overflow: hidden;
}
.header__body {
   height: 60px;
   
}
.header__burger {
   display: block;
   position: relative;
   width: 30px;
   height: 20px;
   position: relative;
   left: 10px;
   z-index: 3;
}
.header__burger span {
   position: absolute;
   background-color: #000000;
   left: 0;
   width: 30px;
   height: 2px;
   border-radius: 10px;
   top: 9px;
   transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
   content: "";
   background-color: #000000;
   position: absolute;
   width: 30px;
   height: 2px;
   border-radius: 10px;
   left: 0;
   transition: all 0.3s ease 0s;
}
.header__burger:before {
   top: 0;
}
.header__burger:after {
   bottom: 0;
}
.header__burger.active span {
   transform: scale(0);
}
.header__burger.active:before {
   transform: rotate(45deg);
   top: 9px;
}
.header__burger.active:after {
   transform: rotate(-45deg);
   bottom: 9px;
}
.header__menu {
   position: fixed;
   top: -200%;
   left: 0;
   width: 100%;
   min-height: 100%;
   overflow: auto;
   transition: all 0.3s ease 0s;
   background-color: #ffffff;
   padding: 100px 5px 20px 5px;
   border-bottom: 1px solid #fff;
}
.header__menu.active {
   top: 0;
}
.header__list {
   display: block;
   padding: 0px;
}
.header__list li {
  text-align: center;
   margin: 0px 0px 30px 0px;
}
.header__list li a:hover {
  transition: all 0.3s ease 0s;
  color:rgba(237, 237, 237, 0.919);
}
.header__link {
   font-size: 24px;
}
}
.wrapper {
  padding-top: 100px;
}
.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}
.line {
  position: absolute;
  right: 20px;
  float: right;
}
.content {
  float: left;
  padding-right: 100px;
}
@media(max-width: 768px) {
  .content {
    float: left;
    padding-right: 0px;
  }
}
.quick__info {
  display: flex;
  padding-bottom: 25px;
}
.quick__info__table table tr {
  height: 25px;
}
.quick__info__auther {
  max-width: 200px;
  margin-right: 42px;
}
.quick__info__auther__image {
  margin-bottom: 23px;
}
.quick__info__auther__text_name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;  
  margin-bottom: 3px;
}
.quick__info__auther__text_status {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.quick__info__table {
  height: 283px;
  width: auto;
  border-top: 2px solid #000000;
  background-color: #ffffff;
  padding: 17px 28px;
}
.quick__info__table_title {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 22px;
}
.quick__info__table_title:after {
  content: '';
  background-image: url('../images/02.svg');
  position: relative;
  display: inline-block;
  margin-left: 15px;
  width: 25px;
  height: 25px;
}
.quick__info__table td:first-child { 
  vertical-align: sub;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  text-align: right;
}
.quick__info__table td:last-child { 
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 20px;
  padding-left: 14px;
}
@media(max-width: 992px) {
  .container {
    padding: 0px;
    max-width: 768px;
  }
  .line {
    right: 0px;
  }
  .quick__info__table {
    height: auto;
    width: auto;
    border-top: 2px solid #000000;
    background-color: #ffffff;
    padding: 15px 10px;
  }
}
@media(max-width: 768px) {
  .wrapper {
    padding-top: 70px;
  }
  .container {
    width:  auto;
    padding: 10px;
  }
  .line {
    display: none;
  }
  .quick__info {
    flex-direction: column;
    align-items: center;
  }
  .quick__info__auther {
    margin-right: 0px;  
    text-align: center;
    margin-bottom: 20px;
  }
  .quick__info__table {
    margin-right: 0px;
  }
}
@media(max-width: 480px) {
  .quick__info__table_title {
    font-size: 22px;
  }
  .quick__info__table td:first-child {
    font-size: 15px;
    width: 100px;
  }
  .quick__info__table td:last-child {
    font-size: 15px;
  }
}
@media(max-width: 320px) {

}

.bio {
  position: relative;
  padding-bottom: 25px;
}
.bio__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 30px 35px 0px 35px;
}
.bio__stroke {
  position: absolute;
  top: 0px;
  width: 90%;
  height: 50%;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
@media(max-width: 768px) {
  .bio {
    
  }
  .bio__text {
    padding: 15px 10px 0px 15px;
  }
}

.list-facts {
  padding-bottom: 25px;

}
.list-facts ul{
  
}
.list-facts li{
  background: url('../images/rotate.svg') no-repeat;
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 16px; 
  padding-bottom: 20px;
  vertical-align: top;
  margin-left: 20px;
  padding-left: 20px;
}
.list-facts li:last-child {
  padding-bottom: 0;
}
.list-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-books__book {
  display: inline-flex;
  flex-direction: row;
  width: 50%;
  padding: 15px;
}
.list-books__book__photo {
  padding-right: 20px;
}
.list-books__book__photo img {
  width: 147px;
  height: 215px;
}
.list-books__book__text {
  display: flex;
  flex-direction: column;
}
.list-books__book__text_title {
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
padding-top: 10px;
padding-bottom: 20px;
}
.list-books__book__text_text {
  font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
flex: 1 1 auto;
margin-bottom: 10px;
}
.list-books__book__text_btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 245px;
}
.list-books__book__text_btn-buy {
  background-color: #333;

}
.btn {
  text-transform: uppercase;
  text-align: center;
  
  line-height: 40px;
  width: 100px;
  height: 40px;
  color: #F2F2F2;

  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn a {
  color: #fff;
}
.list-books__book__text_btn-read {
  background-color: #828282;
}
@media(max-width: 992px) {
  .list-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-books__book {
    width: 100%;
  }
}

.films {
  position: relative;
  height: 950px;
}
.films-text {
}
.films-text_title {
  font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
padding-bottom: 10px;
}
.films-text_text {
  font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
padding-bottom: 30px;
}
.films-items {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}
.films-items_item01 {
  position: absolute;
  
}
.films-items_item02 {
  position: absolute;
  top: 299px;
}
.films-items_item03 {
  position: absolute;
  left: 560px;
}
.films-items_item04 {
  position: absolute;
  top: 415px;
  left: 560px;
}
.films-items_item04 img {
  height: 318px;
  width: 380px; 
}

.comments {
}
.comments__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comments__items__item {
  width: 350px;
  margin: 10px;
}
.comments__items__item p{
  font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 22px;
}
.comments__items__item p:last-child{
  font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
}

@media(max-width: 992px) {
.films { 
  position: relative;
  height: 1250px;
}
  .films-items {
    text-align: center;
  }
  .films-items_item01 {
    width: 100%;
    position: relative;
  }
  .films-items_item01 img{
    width: 500px;
    height: 250px;
  }
  .films-items_item02 {
    width: 100%;
    position: relative;
    top: 0px;
  }
  .films-items_item02 img{
    width: 500px;
    height: 250px;
  }
  .films-items_item03 {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .films-items_item03 img{
    width: 500px;
    height: 250px;
  }
  .films-items_item04 {
    width: 100%;
    position: relative;
    top: 0px;
    left:0px;
  }
  .films-items_item04 img{
    width: 500px;
    height: 250px;
  }
}
